:root {
    --slot-normal: lightgray;
    --slot-hover: rgb(230, 230, 230);

    --slot-light: white;
    --slot-dark: grey;

    --slot-border-thickness: 1px;
    --slot-size: 16px;
}

body {
    background-color: darkgray;
}

.slot {
    width: var(--slot-size);
    height: var(--slot-size);
    background-color: var(--slot-normal);

    margin: 1px;
    border-left: var(--slot-border-thickness) solid var(--slot-dark);
    border-top: var(--slot-border-thickness) solid var(--slot-dark);

    border-right: var(--slot-border-thickness) solid var(--slot-light);
    border-bottom: var(--slot-border-thickness) solid var(--slot-light);

    position: relative;
}

.slot > img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.slot:hover {
    background-color: var(--slot-hover);
}

.slot.shulker {
    position: relative;
}

.slot.shulker > .inventory{
    display: none;
    
    position: absolute;
    left: calc(var(--slot-size) / 2);
    top: calc(var(--slot-size) / 2);

    background-color: blue;
    z-index: 1;
}

.slot::after {
    content: attr(data-amount);
    color: white;
    font-size: calc(var(--slot-size) / 2);

    position: absolute;
    right: 0;
    bottom: 0;
}

.slot.shulker > .inventory:hover,
.slot.shulker:hover > .inventory {
    display: inline-block;
}