@font-face {
    font-family: 'HomeVideo';
    src: url('../HomeVideo.ttf');
}

.drop-area {
    margin-top: 5rem;
}

.row {
    display: flex;
    
    max-width: calc(var(--slot-width) * 9 + var(--slot-margin-between) * 8 + var(--slot-margin-outer) * 2);
}

.row.hotbar {
    margin-top: 25px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
